#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.fetch-button {
  display: block;
  margin: -30px auto 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px 15px;
  margin: 10px 0;
  color: black;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}

.todo-item:nth-child(odd) {
  background-color: #e9ecef;
}